body{
    background-image: url('/assets/bg-intro-desktop.png');
    background-color: rgb(249, 139,136);
    background-position: justify;
    align-items: center;
    justify-content: justify;
  
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    flex-direction: column;
max-width: max-content; 
max-height: max-content;
   
      font-family: 'Poppins', sans-serif;   
}
@font-face {
    font-family: 'poppins';
    src: url('./Poppins-Medium.ttf');
    format('woff2')
}
.paragraph-one{
    display: inline-block;
    color: white;
    margin-right: 0;
    margin-top: 0;
    width: 20em;
  
    
   

}


.display{
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    margin-left: 0;
    background-color: white;
    width:19em;
    height: 16em;
    align-items: center;
        padding: 1.2em; 
        border-radius: 5px;
        background-attachment: fixed;
        margin-top: 1.5em;
    }
.trial2{
    border-color: hsl(248, 32%, 49%);
    text-align: center;
   border-radius: 0.300em;
    background-color: hsl(248, 32%, 49%);
    color: white;
    width: 100em;
    margin-top: 30em;
    margin-left: 20em;
   
    display: inline;
    padding: 0.500em;
    font size:0.575em;  
}
#name{
    margin-top: 0.575em;
    margin-bottom: 0.575em;
    border-radius: 0.350em;
    padding: 0.375em;
    width: 20em;
border-color: azure;
border-style: groove;
align-items: center;
   
}

.paragraph{
    font-size: 8px;
}
.container{
width: 45em;
margin-top: 5em;
margin-left: 5em;
display: flexbox;
flex-wrap: wrap;
}