body{
    background-image: url('/assets/bg-intro-desktop.png');
    background-color: palevioletred;
    background-position: justify;
    align-items: justify;
    justify-content: justify;
    padding-bottom: 500px;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    
    
}

.paragraph-one{
   
    display: inline-block;
    margin-left: 100px;
    color: white;
    margin-right: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin-top: 0;
    width: 400px;
    background-color: blueviolet;

}


.display{
    display: flex;
    display: inline-block;
    margin-left: 0;
    background-color: white;
    width: 380px;
    height: 400px;
    box-sizing: border-box;
    border: 1;
    max-width:400px;
    max-height: 400px;
        padding: 50px; 
        border-radius: 5px;
        background-attachment: fixed;
        margin-top: 0;
        background-color: aqua;
       
  
    }
    .forms{
        background-color: white;
        width: 400px;
        height: 400px;
        box-sizing: border-box;
        border: 1;
      
        margin-bottom: 150px;
        display:inline-block;
        max-width: 500px;
        max-height: 500px;
        padding: 50px; 
        border-radius: 5px;   
    }

.trial2{
    border-color: blue;
    text-align: center;
    border-style: outset;
    background-color: blue;
    color: white;
    width: 380px;
    margin-top: 200px;
    margin-left: 500px;
    display: block;
    background-attachment: fixed;
}

.text{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border:1;
    width: 300px;
    height: 30px; 
}

#name{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border:1;
    width: 300px;
    height: 30px;
}

.paragraph{
    font-size: 10px;
}
.container{
    margin-left: 15em;
    margin-bottom: 5em;
 background-color: red;

 display: inline;
}